.mobile-stepper {
	display: none;
}
.web-stepper {
	width: 90%;
}
.MuiTablePagination-toolbar {
	color: white;
}
.super-car {
	display: flex;
	justify-content: space-evenly;
}
.schedule {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.schedule h1 {
	font-size: 85px !important;
	font-family: "Bebas Neue", sans-serif !important;
	letter-spacing: 9px;
	text-align: center;
}
.table {
	height: auto;
	width: 800px;
	filter: drop-shadow(16px 16px 20px #2e3138);
}

.css-19kzrtu {
	width: 800px;
	padding-left: 48px !important;
}

#schedule {
	height: auto;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.head {
	font-size: 30px;
	font-weight: 700;
}
.bod {
	font-size: 20px;
}
@media screen and (max-width: 800px) {
	.mobile-stepper {
		display: block;
	}
	.web-stepper {
		display: none;
	}
	.table {
		height: 400px;
	}
	.schedule {
		justify-content: center;
		text-align: center;
	}
	.css-19kzrtu {
		width: 100%;
		padding-right: 8px !important;
		padding-left: 8px !important;
	}
}
@media screen and (max-width: 768px) {
	.schedule h1 {
		font-size: 50px !important;
	}
}
