.cyberpunk-container {
  padding: 30px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 15px;
  clip-path: polygon(
    0px 25px,
    26px 0px,
    calc(60% - 25px) 0px,
    60% 25px,
    100% 25px,
    100% calc(100% - 10px),
    calc(100% - 15px) calc(100% - 10px),
    calc(80% - 10px) calc(100% - 10px),
    calc(80% - 15px) calc(100% - 0px),
    10px calc(100% - 0px),
    0% calc(100% - 10px)
  );
  background-color: #663399;
  max-width: calc(100% - 10px);
  transition: all 0.07s ease-in-out;
}
.hey-div4 {
  padding-top: 10px !important;
}

.cyberpunk-container:hover {
  /* cursor: pointer; */
  /* background-color: mediumpurple; */
  transform: scale(1.02) translateY(-2px);
  box-shadow: 3rem 3rem #663399;
}

.custom-heading-event {
  font-family: "Bebas Neue", sans-serif !important;
}

.custom-cbc {
  /* border-radius: 20px; */
  box-shadow: 0px 0px 12px 0.5px #b770ff;
  transition: all 0.07s ease-in-out;
}

.custom-cbc:hover {
  transform: scale(1.02) translateY(-2px);
}

.custom-h1-decor {
  /* font-size: 100px !important; */
  font-family: "Bebas Neue", sans-serif !important;
  /* letter-spacing: 10px; */
  text-align: center;
}

@media (max-width: 768px) {
  /* .custom-grid {
    /* margin-right: 25px;
    /* margin-left: 25px; 
    /* margin-bottom: 55px;
  } */
  .custom-h1-decor {
    /* font-size: 80px !important; */
    /* letter-spacing: 7px; */
    margin-top: 40px;
  }
}
@media (max-width: 420px) {
  .hey-div {
    flex-direction: column;
    gap: 10px;
    font-size: x-large;
  }
  .hey-div p {
    font-size: 30px;
  }
  .hey-div2 {
    padding-top: 5px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .hey-div3 {
    font-size: 20px;
  }
}
.hey-div5 {
  border-radius: 20px !important;
}
.hey-div2 {
  border-radius: 20px !important;
  box-shadow: 0 0 12px 0 white !important;
}

.custom-name {
  font-family: "Blender-Regular" !important;
  font-size: 40px;
  text-align: center;
  color: white;
  letter-spacing: 6px;
}
