@import "../../../styles/landing.scss";

.hero {
	height: calc(100vh);
	overflow: hidden;
	background: linear-gradient(180deg, #0c0c1d, #111132);
	position: relative;
	background-image: url("bg.webp");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;

	.wrapper {
		max-width: 1367px;
		height: 100%;
		margin: auto;

		.textContainer {
			position: relative;
			width: 50%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			// gap: 20px;
			// scale: 1.2;
			z-index: 99;

			@include mobile {
				margin-top: -50%;
				margin-left: -1%;
				height: 50%;
				width: 100%;
				gap: 5px;
				align-items: center;
				text-align: center;
			}

			p {
				font-family: Blender-Regular, sans-serif;
				width: 100%;
				color: rgb(255, 255, 255) !important;
				font-weight: lighter;
				margin-top: 1%;
				// margin-left: 4%;
				// margin-bottom: 13%;
				// padding-top: 200px;
				font-size: 25px;
				margin-bottom: 1% !important;
				// color: #ab54ff;
				// letter-spacing: 10px;
				@include mobile {
					letter-spacing: 1px;
					font-size: 18px;
				}
			}

			h1 {
				color: #ffd23f;
				font-weight: 800;
				font-size: 100px;
				margin-bottom: 28%;
				text-shadow: 0 0 55px white;
				@include mobile {
					font-size: 36px;
					margin-bottom: 0%;
				}
			}

			.buttons {
				button {
					margin-right: 3%;
					position: relative;
					width: fit-content;
					padding: 20px;
					border-radius: 10px;
					background-color: #ffa500;
					color: white;
					cursor: pointer;
					font-weight: 300;
					z-index: 99;
					@include mobile {
						margin-bottom: 12%;
						margin-right: 0;
					}
				}
			}

			img {
				width: 50px;
			}
		}
	}
	.logo img {
		height: 48px;
		color: #ffffff;
		object-fit: contain;
		position: absolute;
		top: 30px;
		right: 30px;

		@include mobile {
			top: 25px;
			left: 50%;
			transform: translateX(-50%);
		}
	}
	.imageContainer {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;

		@include mobile {
			height: 50%;
			width: 100%;
			top: unset;
			bottom: 0;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.slidingTextContainer {
		font-family: "Blender-Bold", Arial;
		position: absolute;
		font-size: 50vh;
		bottom: -120px;
		white-space: nowrap;
		color: #ffffff09;
		width: 50%;
		font-weight: bold;
		@include mobile {
			font-size: 50vh;
		}
	}
}
