.scene
  .delorean
    .mirror-left
    .mirror-right
    .delorean-cases
      .wheel-case-left
      .wheel-case-right
      .wheel-left
      .wheel-right
    .delorean-top
      .top-lines-on-top
      .top-lines-on-top.right
      .rear-window
      .lights
        .lights-frame
        .red-light-left
        .red-light-right
        .id-container
          .id
        .red-reflection
      .bumper-light-reflection
      .bumper-light-reflection.right
    .bumper
      .bumper-reflection 
      .bumper-logo
      .bumper-hole-1
      .bumper-hole-2
      .bumper-sticker
      .dashes
    .shadow


  .top
    .startails
      .startail-r
      .startail-l
      .startail-m
    .top-lines
    .brand
      .triangle
      .kode-text
    .sun
    .palm.small
      .trunk
      .trunk-bottom
      .leaf-1
      .leaf-1-s
      .leaf-2
      .leaf-2-s
      .leaf-3
      .leaf-3-s
    .palm
      .trunk
      .trunk-bottom
      .leaf-1
      .leaf-1-s
      .leaf-2
      .leaf-2-s
      .leaf-3
      .leaf-3-s
  .bottom
    .m0
    .m1
    .m2
    .bottom-overlay
  #stars

// license: https://assets.codepen.io/907471/synthesizer-synthwave-80s-110045-license.txt      
audio(loop)#synthwave-track
  source(src="https://assets.codepen.io/907471/synthwave-80s-110045.mp3")(type="audio/mp3")

button#volume
  svg(xmlns="http://www.w3.org/2000/svg")(width="21.25")(height="17.5")(viewBox="0 0 21.25 17.5").play
    path(d="M1.25-11.25v7.5h5l5.625,5H13.75v-17.5H11.875l-5.625,5Zm16,6.75a3.745,3.745,0,0,0,1.5-3,3.745,3.745,0,0,0-1.5-3L16.125-9a1.87,1.87,0,0,1,.75,1.5,1.87,1.87,0,0,1-.75,1.5Zm2.25,3a7.491,7.491,0,0,0,3-6,7.491,7.491,0,0,0-3-6L18.375-12a5.615,5.615,0,0,1,2.25,4.5A5.615,5.615,0,0,1,18.375-3L19.5-1.5Z")(transform="translate(-1.25 16.25)")(fill="var(--labs-sys-color-volume)")
  svg(xmlns="http://www.w3.org/2000/svg")(width="24.996")(height="19.992")(viewBox="0 0 24.996 19.992").muted
    path(d="M1.891-16.922,1.148-17.5,0-16.016l.742.574L23.105,1.922l.742.574L25,1.016,24.254.441,21.238-1.9A7.48,7.48,0,0,0,23.75-7.5a7.491,7.491,0,0,0-3-6L19.625-12a5.615,5.615,0,0,1,2.25,4.5,5.611,5.611,0,0,1-2.152,4.426L15-6.742V-16.25H13.125l-4.836,4.3-6.4-4.969ZM2.5-11.25v7.5h5l5.625,5H15V-1.934L3.172-11.25H2.5Zm16,6.75a3.745,3.745,0,0,0,1.5-3,3.745,3.745,0,0,0-1.5-3L17.375-9a1.87,1.87,0,0,1,.75,1.5,1.87,1.87,0,0,1-.75,1.5Z")(transform="translate(0 17.496)")(fill="var(--labs-sys-color-volume)")



